/*
  .class
  #id
*/

:root {
  --bg-light: hsl(33, 28%, 82%);
  --bg-dark: hsl(33, 28%, 72%);
  --border: hsl(33, 28%, 32%);
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-image: url('./EmeraldTablet.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  background: white;
  border: 2px solid var(--border);
  box-shadow: 5px 5px 15px 5px hsla(0, 0%, 0%, 0.6);
}

.img_hidden {
  display: none;
}

#title {
  font-family: 'Almendra SC', serif;
  font-size: 34px;
  background: var(--bg-light);
  margin-bottom: 0.25em;
  padding: 0.1em 0.25em;
  border: 2px solid var(--border);
  box-shadow: 5px 5px 15px 5px hsla(0, 0%, 0%, 0.6);
  text-align: center;
  color: var(--border);
}

#titleSecond {
  font-size: 20px;
}

#dialog {
  background: white;
  position: absolute;
  font-family: 'Almendra SC', serif;
  font-size: 20px;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  border: 2px solid var(--border);
  box-shadow: 5px 5px 15px 5px hsla(0, 0%, 0%, 0.6);
}

#dialogtxt {
  max-width: 20em;
}

button {
  border: 2px solid var(--border);
  font-family: 'Almendra SC', serif;
  font-size: 24px;
  margin-left: 1em;
  background: var(--bg-light);
  color: var(--border);
}

button:hover {
  background: var(--bg-dark);
}

#buttonReset {
  font-size: 16px;
  box-shadow: 5px 5px 15px 5px hsla(0, 0%, 0%, 0.6);
}

#peek {
  position: absolute;
  top: 70px;
  left: 650px;
  opacity: 0.0;
  transition: opacity 5s;
}
