/*
  .class
  #id
*/

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-image: url('./EmeraldTablet.jpg');
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  background: white;
  border: 2px solid black;
  box-shadow: 5px 5px 15px 5px hsla(0, 0%, 0%, 0.6);
}

.img_hidden {
  display: none;
}

#title {
  font-family: 'Almendra SC', serif;
  font-size: 40px;
  background: white;
}
